* {
  font-size: 10px;
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 100vh;
  padding: 0 10vw;
  .filter-table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
    width: 100vw;
  }
  .main-title {
    font-size: 4rem;
    margin-bottom: 2vh;
  }
  .filter-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .filters-heading {
      font-size: 2rem;
    }
    .filters-label {
      font-size: 1.6rem;
      width: 10vw;
    }
    .filters-input {
      width: 10vw;
      height: 4vh;
      font-size: 1.5rem;
      padding-left: 1.5rem;
    }
    .filters-select {
      width: 10vw;
      height: 4vh;
      font-size: 1.6rem;
      .filters-option {
        font-size: 1.5rem;
      }
    }
    .filters-submit-button {
      width: 5vw;
      height: 5vh;
      font-size: 1.5rem;
      background: none;
      border: 0.1rem solid black;
      border-radius: 0.8rem;
      margin: 2vh 0;
      transition: 250ms;
      &:hover {
        cursor: pointer;
        scale: 1.2;
        letter-spacing: 0.05rem;
        box-shadow: 1rem 1rem 1.5rem black;
      }
    }
  }
}
